@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
.shrikhandText{
    font-family: 'Shrikhand', cursive;
    font-size: 50px;
    color: orangered;
}

.LoraText{
    font-family: 'Lora', serif;
    font-size: 30px;
}

.QuicksandText{
    font-family: 'Quicksand', sans-serif;
    font-size: 40px;
}

.iconAdd{
    cursor: pointer;
    font-size: 45px;
    position: absolute;
    right: 200px;
}


